.mobile {
  padding: 50px;
  height: 100vh;
  width: 100%;
  float: left;
  display: none;
}

.mobile-copy img {
  margin: 40px auto;
  display: inherit;

}

.mobile-copy h2{
font-size: 60px;
padding-bottom: 20px;
text-align: center;
}

.mobile-copy h3{
font-family: 'Roboto Mono', monospace;
font-size: 30px;
padding-bottom: 20px;
text-align: center;
}

.mobile-contact{
  margin-top: 20px;
}
.social-mobile a{
  padding: 15px;
}
.social-mobile{
  font-size: 30px;
  padding: 20px;
text-align: center;
}
.mobile-copy h4{
font-family: 'Roboto Mono', monospace;
font-size: 18px;
padding-bottom: 10px;
text-align: center;
}

.mobile-copy p{
font-size: 16px;
text-align: center;
}

.mobile-copy {
  position: absolute;
      top: 9%;
      left: 10%;
      width: 80%;
}


.remove{
  display: none;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-style: wavy;
  -moz-text-decoration-color: rgb(234,76,137); /* Code for Firefox */
  text-decoration-color: rgb(234,76,137);
}

.splash-video {
  background-color:#F4F4F4;
}

.chariti-video {
  background-color: #F7FBFF;

}

.color {
  color: lightgrey;
}

/*nav stuff*/


.hand{
  color: black;
  font-size: 30px;
  padding-left: 5%;
  padding-top: 20px;
  display: flex;
  float: left;
  letter-spacing: 2px;
}

.hand:hover {
    color: rgb(234,76,137);
}

.navigation {
    display: flex;
    padding-right: 4%;
    padding-top: 10px;
    list-style: none;
    justify-content: flex-end;
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 900;
}

.nav-link:hover {
    color: rgb(234,76,137);
}


.nav-link {
  font-weight: 500;
    color:black;
    text-decoration: none;
    padding: 1em;
    display: block;
}


/*intro headder and about me stuff */
   .intro {
  text-align: left;
  width:90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;

}


.title{
  max-width: 850px;
  line-height: 1.7;
}


/*random*/



/* homepage project stuff*/

.project{
  height: 700px;
  width: 90%;
  text-align: left;
  font-size: 30px;
  color: white;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}

.project-double-block{
  height: 700px;
  width: 48%;
  text-align: left;
  font-size: 30px;
  color: white;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 6  0px;
  display: inline-block;
}

.double-block{
  height: 700px;
  width: 91%;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;


}

/*Mouce hover - Overlay and text*/

.wrapper{
  max-width: 100%;
  padding: 30px;
  position: relative;
  height: 700px;
  opacity: 0;
}

.wrapper:hover {
  opacity: 1;
}

.project_description{
  color: white;
  margin-bottom: 70px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  max-width: 1000px;
  width: 50%;
  opacity: 1;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  line-height: 1.3;

}

.overlay{
  top:0;
  left: 0;
  height: 700px;
  width: 100%;
  opacity: 0.9;
  transition: .5s ease;
  background-color: slategrey;
  position: absolute;
}




/* project overview on project page*/

.project-title{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10px;
  line-height: 1.7;

}

.project-overview {
  padding-left: 5%;
  margin-bottom: 70px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 90%;
  display: inline-block;
}

.project-description{
  margin-left: 10%;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
   font-weight: 200;
  width: 50%;
  display: inline-block;
  line-height: 1.7;
  padding-top: 50px;
  font-weight: 300;
}

.project-comment{
  margin-left: 5%;
  margin-bottom: 70px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 50%;
  display: inline-block;
  line-height: 1.7;
  font-weight: 300;

}

video {
  height: 700px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}

ul.project-stats {
  line-height: 1.7;
  padding: 0;
  width: 40%;
  display: inline-block;
  float: left;
  font-weight: 400;

}

.title a:visited {
    color: black;}

.title a:hover {
    color: rgb(234,76,137);
  }



/* IMAGES */




/*Main page images - thumbnails*/
#image-5 {
  background-image: url(../Assets/homepage/qubit-main-page.png);
  background-color: #EAF6F2;}
#image-1 {
  background-image: url(../Assets/splash-page/priority-notification.png);
  background-color: #F4F4F4;}
#image-2 {
  background-image: url(../Assets/homepage/welcome.jpg);
  background-color: #F7FBFF;}
#image-3 {
    background-image: url(../Assets/media-centre/top-block.png);
    background-color: rgba(254,239,253,0.4);}
#image-4 {
  background-image: url(../Assets/help-centre/top-block.png);
  background-color: rgba(250,235,215,0.4);}

/* Chariti page images*/

#image-1-1 {
  background-image: url(../Assets/chariti-app/header-multi-screen.png);
  background-color: #F7FBFF;
  margin-top: 40px;}
#image-1-2 {
  background-image: url(../Assets/chariti-app/sign-up.png);
  background-color: #F7FBFF;}
#image-1-3 {
  background-image: url(../Assets/chariti-app/location-pulse.gif);
  background-color: #F7FBFF;}
#image-1-4 {
  background-image: url(../Assets/chariti-app/multi-screen-long.png);
  background-color: #F7FBFF;
  height: 1500px;}
#image-1-5 {
  background-image: url(../Assets/chariti-app/date-selector.png);
  background-color: #F7FBFF;}
#image-1-6 {
  background-image: url(../Assets/chariti-app/comments.png);
  background-color: #F7FBFF;}
#image-1-7 {
  background-image: url(../Assets/chariti-app/messaging.png);
  background-color: #F7FBFF;}
#image-1-8 {
  background-image: url(../Assets/chariti-app/awards.png);
   background-color: #F7FBFF;
    margin-right: 3%;}
#image-1-9 {
  background-image: url(../Assets/chariti-app/awards-overlay.png);
   background-color: #F7FBFF;}
#image-1-10 {
  background-image: url(../Assets/chariti-app/scroll-animation.gif);
   background-color: #F7FBFF;}


  /*splash page images*/
#image-2-1 {
  background-image: url(../Assets/splash-page/header-main.png);
  background-size: cover;
  margin-top: 40px;}
#image-2-2 {
  background-image: url(../Assets/splash-page/sign-in.png);
  background-color: #F4F4F4;}
#image-2-3 {
  background-image: url(../Assets/splash-page/priority-notification.png);
  background-color: #F4F4F4;}
#image-2-4 {
  background-image: url(../Assets/splash-page/newsfeed.png);
  background-color: #F4F4F4;
}

#image-2-6 {
  background-image: url(../Assets/splash-page/mobile-design-1.png);
  background-color: #F4F4F4;
  margin-right: 3%;
}
#image-2-7 {
  background-image: url(../Assets/splash-page/mobile-design-2.png);
  background-color: #F4F4F4;
}

  /*Media centre page images*/
#image-3-1 {
  background-image: url(../Assets/media-centre/top-block.png);
  margin-top: 40px;}
#image-3-2 {
  background-image: url(../Assets/media-centre/hero-story-2.png);}
#image-3-4 {
  background-image: url(../Assets/media-centre/video-block.png);
  background-color: #F4F4F4;}
#image-3-5 {
  background-image: url(../Assets/media-centre/overlays.png);}

#image-3-6 {
  background-image: url(../Assets/media-centre/mobile.png);
  background-size: contain;}

  #image-3-7 {
  background-image: url(../Assets/media-centre/scroll.gif);
  background-size: contain;}

   #image-3-8 {
  background-image: url(../Assets/media-centre/segment-gif.webm);
  background-size: contain;}


/*Zendesk page images*/
#image-4-1 {
  background-image: url(../Assets/help-centre/Header-gif.webm);
  margin-top: 40px;}
#image-4-2 {
  background-image: url(../Assets/help-centre/segmentation-selection.png);}
#image-4-3 {
  background-image: url(../Assets/help-centre/dropdown.png);}
#image-4-4 {
  background-image: url(../Assets/help-centre/article-page.png);}

  /*Qubit page images*/

  #image-5-1 {
  background-image: url(../Assets/homepage/qubit-main-page.png);
  margin-top: 40px;}


/*FOOTER STUFF*/

.line{
  width: 90%;
  border-top: solid 1px lightgrey;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}

.contact-info{
  float: left;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 1.7;
}

.social{
  font-size: 30px;
  color: grey;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 40px;
  float: right;
}

.social a:visited{
  color: grey;
}

.social a:hover {
    color: rgb(234,76,137);
}


/*ABOUT ME SECTION*/


.about-body{
  margin-top: 30px;
  width: 100%;
  height: 100vh;
  background-color: red;
}

.my-photo{
  width: 50%;
  height: 100vh;
  background-image: url(../Assets/about-me/sausage-placeholder.jpg);
  background-size: cover;
  float: left;
}

.about-me{
  width: 50%;
  height: 100vh;
  background-color: orange;
  float: right;
  padding: 50px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.7;
 }


/*ABOUT ME SECTION END*/

footer {
  font-size: 25px;
  display: inline-block;
  padding-left: 8%;
  padding-top: 17px;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

@media (max-width: 1120px) {
 #image-2-1{
   height: 500px;
 }
}

@media (max-width: 790px) {
 #image-2-1{
   width: 100%;
   height: 500px;
 }
}

@media (max-width: 700px) {
 #image-2-1{
   width: 100%;
   height: 400px;
 }
}

@media (max-width: 760px) {


    .title{
  font-size: 20px;
  }

  .contact-info{
    font-size: 20px;
  }
  .splash-video {
    background-color:#F4F4F4;
    height: 500px;
  }

  .project{
      width: 100%;
      height: 500px;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
      justify-content: center;
    }

  .overlay{
    height: 500px;
  }

  video {
    height: 500px;
  }
}

  @media (max-width: 600px) {
    .mobile {
      display: inline;
    }
  .body {
    display: none;
  }
    .project {
      height: 500px;
    }
  }
